.carousel-item{
    height: 30rem;
    width: 90rem;     
    grid-gap: 10px;
}

h5{
    padding-left: 10px;
    padding-top: 5px;
    color:#829529;
    font-family:'roboto';
    font-weight: bold;
   
}

.card-text{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size:13px;
    font-family: Roboto;

}

/* hr{    
    color: rgb(255, 255, 255);
    border-width: 3px;
    padding: 0;
    margin-bottom: 10;
    ;

    } */

.datos{
    width:1400px;
    align-items: center;
    align-content: center;
    margin-left: -14%  ;
    margin-top: -2%;
}


.datosimg{
    width:1400px;
    align-items: center;
    align-content: center;
    margin-left: -14%  ;
    margin-top: -2%;
}

h2{
    font-family: roboto;
    align-content: center;
    font-size:2em;
    text-decoration: none;
    text-align:center;
    color: rgb(61, 60, 60)
    }

    h3 {
        font-weight: 400;
        text-align: center;
        padding: 10px 0;
        font-size: 18px;
        color: rgb(255, 255, 255);
        margin: .2em;
        font-family: 'Roboto';
    }

    .linea{
        background: #fd4a5c;
        height: 30px;
        width: 100%;
        display: block;    
    }

    .lineafooter{
        background: #eeecec;
        height: 1px;
        width: 100%;
        display: block;
        margin-top:10px;
        margin-bottom:-10px;
        
    }

    .redes-sociales-span{
        display: flex;
    justify-content: center;
    color:rgb(185, 24, 24);
    }

    .redes-sociales-span i{      /* iconos de redes sociales   */
        font-size: 20px;
        padding: 0 15px 0 20px ;
        color: rgb(241, 235, 235);
        width: 6px;
        margin-top: 4px;    
        }

    .spanfooter{
        display: flex;
    justify-content: center;
    color:rgb(185, 24, 24);
    }


    /* @MEDIA */

    @media screen and (min-width : 567px) and (max-width : 1200px){

        .datosimg{
            width:900px;
            align-items: center;
            align-content: center;
            margin-left: 1%  ;
            margin-top: -2%;
        }

        .datos{
            width:1300px;
            align-items: center;
            align-content: center;
            margin-left: -20%  ;
            margin-top: -2%;
        }

        .fotocarrusel{
    width:900px;
    object-fit: cover;
        }
}







    @media screen and (min-width : 0px) and (max-width : 700px){

        .datosimg{
            width:400px;
            align-items: center;
            align-content: center;
            margin-left: -14%  ;
            margin-top: -2%;
            display:none;
        }
       .d-block{
        object-fit:fill;
        width: 900px;
        }
        .datos{
            width:750px;
            align-items: center;
            align-content: center;
            margin-left: -35%  ;
            margin-top: -2%;
        }

    }


    /*EMPIEZA FOOTER */

footer{
	background:#1d1b1b;
}

footer.titulo-seccion{
   color: #fff; 
}
.copy{
    color: rgb(247, 236, 236);
    text-align: center;
    font-size: 12px;
    margin-bottom: 10;


}

.redes-sociales{
    display: flex;
    justify-content: center;
    color:rgb(185, 24, 24);
    
}

.redes-sociales i{      /* iconos de redes sociales   */
    font-size: 20px;
    padding: 0 15px 0 15px ;
    color:#fd4a5c;
    width: 6px;
   
    }

/* 
agregado de estilos
*/

.fondoFooter{
	background-image: linear-gradient(#000,#000, #000,#000,black,#212121, #851919);
}


